{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edit Incident for Bias Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bias_tracker/edit_incident.css' %}">
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
        integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
        crossorigin="anonymous"
    >
</head>
<body>
  <div class="container">
    <!-- nav -->
    <div class="row">
      <div class="col-md-2 col-md-offset-8 m-y-1">
        <a class="nav-link" href="{% url 'select_incident' %}" name="select_incident">
          Return to Selection Page
        </a>
      </div>
      <div class="col-md-2 m-y-1">
        <a class="nav-link" href="{% url 'index_page' %}" name="home">Return Home</a>
      </div>
    </div>
    <!-- /nav -->
    <!-- header -->
    <div class="row">
      <h3 class="text-sm-center">
        <strong>{{user.first_name}}</strong>, here is incident you selected:
      </h3>
    </div>
    <!-- /header -->
    <!-- incident -->
    <div>
      <h4 class="text-sm-left p-a-1">Incident Review</h4>
      <p>
        <strong>Filing Date:</strong>
        <mark>
          {{incident.filing_date}}
        </mark>
      </p>
      <p>
        <strong>Incident Date:</strong>
        <mark>
          {{incident.incident_date}}
        </mark>
      </p>
      <p>
        <strong>Incident Time:</strong>
        <mark>
          {{incident.incident_time}}
        </mark>
      </p>
      <p><strong>Subjects:</strong></p>
        <ul>{%for subject in incident.subjects.all%}
          <li>
            <mark>
              {{subject.name}}
            </mark>
          </li>
          {%endfor%}
        </ul>
      <p>
        <strong>Type:</strong>
        <mark>
          {{incident.incident_type}}
        </mark>
      </p>
      <p><strong>Descriptors</strong></p>
        <ul>{%for descriptor in incident.descriptors.all%}
          <li>
            <mark>
              {{descriptor.descriptor}}
            </mark>
          </li>
          {%endfor%}
        </ul>
      <p>
        <strong>Description of Incident:</strong>
        <mark>
          {{incident.text_description}}
        </mark>
      </p>
    </div>
    <!-- /incident -->
  </div>
  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
  </script>
  <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
      integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
      crossorigin="anonymous"
  >
  </script>
  <script src="{% static 'bias_tracker/ajax_csrf_setup.js' %}"></script>
  <script src="{% static 'bias_tracker/subject_stats.js' %}"></script>
  <!-- /scripts -->
</body>
