{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>New Incident for Bias Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bias_tracker/index.css' %}">
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
        integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
        crossorigin="anonymous"
    >
</head>
<body>
  <div class="container">
    <!-- row1 -->
    <div class="row">
      <div class="col-xs-4 col-xs-offset-8">
        <p class="text-md-right">
          <a class="" href="{% url 'index_page'%}" name="home">RETURN HOME</a>
        </p>
      </div>
    </div>
    <!-- /row1 -->
    <!-- row2 -->
    <!-- incident -->
    <form class="form-horizontal" action="{% url 'submit_new' %}" method="post" name="new_incident">
      {% csrf_token %}
      <!-- fixed info -->
      <div class="form-group">
        <p name="author">Author will be <strong><em>{{user}}</em></strong></p>
        <p>The filing date will be recorded as today</p>
      </div>
      <!-- /fixed info -->
      <!-- incident date -->
      <div class="form-group">
        <label>Date of Incident
          <input class="form-control" placeholder="YYYY-MM-DD" name="date" >
        </label>
      </div>
      <!-- /incident date -->
      <!-- incident time -->
      <div class="form-group">
        <label>Time of Incident
          <input class="form-control" name="time">
        </label>
      </div>
      <!-- /incident time -->
      <!-- select subjects -->
      <div class="form-group">
        <select class="form-control" multiple="True" name="subjects">
          {% for subject in subjects %}
          <option value="{{subject.id}}">{{subject.name}}</option>
          {% endfor %}
        </select>
      </div>
      <!-- /select subjects -->
      <!-- select type -->
      <div class="form-group">
        <select class="form-control" name="incident_type">
          {% for i in incident_type %}
          <option>{{i}}</option>
          {% endfor %}
        </select>
      </div>
      <!-- /select type -->
      <!-- select descriptors -->
      <div class="form-group">
        <!-- consider using an optgroup for this one -->
        <!-- to divide Incl from Excl -->
        <select class="form-control" name="descriptors" multiple="True">
          {% for descriptor in descriptors %}
          <option value="{{descriptor.id}}">{{descriptor.descriptor}}</option>
          {% endfor %}
        </select>
      </div>
      <!-- /select descriptors -->
      <!-- text area -->
      <div class="form-group">
        <textarea class="form-control" name="description"></textarea>
      </div>
      <!-- /text area -->
      <!-- submit -->
      <div class="form-group">
        <input type="submit" class="btn btn-default" value="SUBMIT INCIDENT">
      </div>
      <!-- /submit -->
    </form>
    <!-- /incident -->
  <!-- /row2 -->
  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
  </script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
    integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
    crossorigin="anonymous"
  >
  </script>
  <script src="static/bias_tracker/js_scripts.js"></script>
  <!-- /scripts -->
</body>
