{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>New Incident for Bias Tracker</title>
    <!-- <link rel="stylesheet" type="text/css" href="login.css"> -->
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
        integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
        crossorigin="anonymous"
    >
</head>
<body>
    <!-- row1 -->
    <div>
        <a href="{% url 'logout' %}" name="logout">EMERGENCY ESCAPE CLAUSE (aka "Logout")</a>
        <!-- incident -->
        <div>
            <form action="{% url 'submit_new' %}" method="post" name="new_incident">
                {% csrf_token %}
                <p name="author">Author will be {{user}}</p>
                <!-- select subjects -->
                <div>
                    <select name="subjects" multiple="True">
                        {% for subject in subjects %}
                        <option value="{{subject.id}}">{{subject.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- /select subjects -->
                <!-- select type -->
                <div>
                    <select name="incident_type">
                        {% for i in incident_type %}
                        <option>{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- /select type -->
                <!-- select descriptors -->
                <div>
                    <!-- consider using an optgroup for this one -->
                    <!-- to divide Incl from Excl -->
                    <select name="descriptors" multiple="True">
                        {% for descriptor in descriptors %}
                        <option value="{{descriptor.id}}">{{descriptor.descriptor}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- /select descriptors -->
                <input type="submit" value="SUBMIT INCIDENT">
            </form>
        </div>
        <!-- /incident -->
    <!-- /row1 -->
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
        integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
        crossorigin="anonymous"
    >
    </script>
    <script src="static/bias_tracker/js_scripts.js"></script>
    <!-- /scripts -->
</body>
