<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home/Menu for Bias Tracker</title>
    <!-- <link rel="stylesheet" type="text/css" href="login.css"> -->
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
        integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
        crossorigin="anonymous"
    >
</head>
<body>
    <header>
        <h1>
            Welcome to the Bias Tracking Program!
        </h1>
        <a href="{% url 'logout' %}" name="logout">EMERGENCY ESCAPE CLAUSE (aka "Logout")</a>
        <p>
            This program allows an author (user - YOU!) to record any incident
            at her/his organization which made her/him feel either:
        </p>
        <ul>
            <li>Included</li>
            <li>Excluded</li>
        </ul>
        <h3>
            Please {{user}}, choose what you would like to do:
        </h3>
    </header>

    <div class="container">
        <!-- row1 -->
        <div class="row">
            <!-- create new -->
            <div class="column">
                <div class="invisible">
                    HIDDEN VERIFICATION FOR INCIDENT SUBMISSION {{ new_incident }}
                </div>
                <p>*************</p>
                <p>

                    Click <a href="{% url 'new_incident' %}">HERE</a> to add a new incident
                </p>
                <p>*************</p>
            </div>
            <!-- /create new -->
        </div>
        <!-- /row1 -->
        <!-- row2 -->
        <div class="row">
            <!-- select statistic -->
            <div class="column">
                <p>*************</p>
                <p>
                    Click <a href="{% url 'self_stats' %}">HERE</a> to see Exclusion v. Inclusion recorded
                </p>
                <p>*************</p>
                <p>
                    Click <a href="">HERE</a> to see Descriptor percentages
                </p>
                <p>*************</p>
            </div>
        </div>
        <!-- /select statistic -->
        <!-- /row2 -->
    </div>
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
        integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
        crossorigin="anonymous"
    >
    </script>
    <!-- /scripts -->
</body>
