{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Home/Menu for Bias Tracker</title>
  <link rel="stylesheet" type="text/css" href="{% static 'bias_tracker/index.css' %}">
  <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
      integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
      crossorigin="anonymous"
  >
</head>
<body>
  {% if user.is_active %}
    <!-- container -->
    <div class="container m-t-1">
      <!-- Header -->
      <div class = "row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1 class="text-sm-center">
            Welcome to the Bias Tracking Program!
          </h1>
          <p class="text-sm-justify">
            This program allows an author (user - YOU!) to record any incident
            at her/his organization which made her/him feel either <em>Included</em>
            or <em>Excluded</em>
          </p>
        </div>
      </div>
      <!-- /Header -->
      <!-- Home Greeting -->
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h3 class="text-sm-center">
            Please <strong>{{user.first_name}}</strong>, choose what you would like to do:
          </h3>
        </div>
      </div>
      <!-- /Home Greeting -->
      <!-- incident choices -->
      <div class="row">
        <!-- create new -->
        <div class="col-md-4 col-md-offset-2 m-y-1">
          <a class="btn btn-primary btn-lg btn-block"
          href="{% url 'new_incident' %}"
          role="button"
          >
          Create New Incident
        </a>
        </div>
        <!-- /create new -->
        <!-- incident edit -->
        <div class="col-md-4 m-y-1">
          <a class="btn btn-primary btn-lg btn-block"
          href="{% url 'edit_incident' %}"
          role="button"
          >
          Review/Edit Incident
        </a>
        </div>
        <!-- /incident edit -->
      </div>
      <!-- /incident choices  -->
      <!-- stats choices -->
      <div class="row">
        <!-- self stats -->
        <div class="col-md-4 col-md-offset-2 m-y-1">
          <a class="btn btn-primary btn-lg btn-block"
              href="{% url 'self_stats' %}"
              role="button"
          >
            YOUR statistics
          </a>
        </div>
        <!-- /self stats -->
        <!-- subject stats -->
        <div class="col-md-4 m-y-1">
          <a class="btn btn-primary btn-lg btn-block"
            href="{% url 'subject_stats' %}"
            role="button"
          >
          Incident Subject Statistics
          </a>
        </div>
        <!-- /subject stats -->
      </div>
      <!-- /stats choices -->
      <!-- logout -->
      <div class="row">
        <div class="col-md-4 col-md-offset-2 m-y-1">
          <a
          class="btn btn-primary btn-lg btn-block"
          href="{% url 'logout' %}"
          name="logout"
          role="button"
          >
          Logout
          </a>
        </div>
      </div>
      <!-- /logout -->
    </div>
    <!-- /container -->
  {% else %}
    <!-- logout ack -->
    <div class="row">
      <p class="p-l-1">
        You have successfully logged out of the system.
      </p>
      <p class="p-l-1">
        Click <a href="{% url 'login'%}" name="login">HERE</a> to log back in
      </p>
    </div>
    <!-- /logout ack -->
    <!-- Consider "include" Django statement and making the above a separate html doc -->
  {% endif %}
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
        integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
        crossorigin="anonymous"
    >
    </script>
    <!-- /scripts -->
</body>
