{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Home/Menu for Ally Finder</title>
  <link rel="stylesheet" type="text/css" href="{% static 'bias_tracker/index.css' %}">
  <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
      integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
      crossorigin="anonymous"
  >
</head>
<body>
  {% if user.is_active %}
    <!-- container -->
    <div class="container m-t-1">
      <!-- Header -->
      <div class = "row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1 class="text-sm-center">
            Welcome to the Incident Tracker Program
          </h1>
            <h2>The Merriam-Webster on-line dictionary defines "bias" as: an
              inclination of temperament or outlook; especially :  a personal and
              sometimes unreasoned judgment</h2>
              <h3>"an inclination of temperament or outlook" - we all have it
                and the only thing that makes that bias negative, neutral, or
                positive is how we react to or use our biases.</h3>
          <p class="text-sm-justify">
            The intention behind this program was to give the user the
            opportunity to record any incident at work (or school), be it
            "negative" or "positive", when the details (and emotion) are fresh
            so that s/he may then review the incident at a later date more
            objectively.  Additionally, s/he may track the tone of interactions
            with co-workers over time to identify both potential allies as well
            as those with whom the user needs to change his or her method of
            communication to better their working relationship.
          </p>
          <p class="text-sm-justify">
            If you find yourself in regular conflict with a co-worker or
            fellow student, be objective, consider your own biases, and consider
            discussing with a supervisor, human resources professional, or
            fully objective person who can give you additional insight.  Be
            prepared to change the way that YOU communicate in order to improve
            the team result!
          </p>
          <h2>Above all - this program is about (re)evaluation, education and
          empowerment</h2>
          <!-- Pop Up on "Included", "Excluded", and "Ally" needed to offer
          explanation for those who do not know what is meant.-->
        </div>
      </div>
      <!-- /Header -->
      <!-- Home Greeting -->
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h3 class="text-sm-center">
            Please <strong>{{user.first_name}}</strong>, choose what you would like to do:
          </h3>
        </div>
      </div>
      <!-- /Home Greeting -->
      <!-- incident choices -->
      <div class="row">
        <!-- create new -->
        <div class="col-md-4 col-md-offset-2 m-y-1">
          <a class="btn btn-primary btn-lg btn-block"
          href="{% url 'new_incident' %}"
          role="button"
          >
          New Incident
        </a>
        <p>
          Form to log a new incident
        </p>
        </div>
        <!-- /create new -->
        <!-- incident edit -->
        <div class="col-md-4 m-y-1">
          <a class="btn btn-primary btn-lg btn-block"
          href="{% url 'select_incident' %}"
          role="button"
          >
          Review Incident
        </a>
        <p>
          Select a logged incident to review details
        </p>
        </div>
        <!-- /incident edit -->
      </div>
      <!-- /incident choices  -->
      <!-- stats choices -->
      <div class="row">
        <!-- self stats -->
        <div class="col-md-4 col-md-offset-2 m-y-1">
          <a class="btn btn-primary btn-lg btn-block"
              href="{% url 'self_stats' %}"
              role="button"
          >
            Your Statistics
          </a>
          <p>
            Statistics about types of incidents you have recorded
          </p>
        </div>
        <!-- /self stats -->
        <!-- subject stats -->
        <div class="col-md-4 m-y-1">
          <a class="btn btn-primary btn-lg btn-block"
            href="{% url 'subject_stats' %}"
            role="button"
          >
          Co-worker Statistics
          </a>
          <p>
            Page for pulling up statistics specific to individuals who have
            been participants in any of your recorded incidents
          </p>
        </div>
        <!-- /subject stats -->
      </div>
      <!-- /stats choices -->
      <!-- logout -->
      <div class="row">
        <div class="col-md-4 col-md-offset-2 m-y-1">
          <a
          class="btn btn-primary btn-lg btn-block"
          href="{% url 'logout' %}"
          name="logout"
          role="button"
          >
          Logout
          </a>
          <p>

          </p>
        </div>
      </div>
      <!-- /logout -->
    </div>
    <!-- /container -->
  {% else %}
    <!-- logout ack -->
    <div class="row">
      <p class="p-l-1">
        You have successfully logged out of the system.
      </p>
      <p class="p-l-1">
        Click <a href="{% url 'login'%}" name="login">HERE</a> to log back in
      </p>
    </div>
    <!-- /logout ack -->
    <!-- Consider "include" Django statement and making the above a separate html doc -->
  {% endif %}
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
        integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
        crossorigin="anonymous"
    >
    </script>
    <!-- /scripts -->
</body>
