{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home/Menu for Bias Tracker</title>
    <!-- <link rel="stylesheet" type="text/css" href="login.css"> -->
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
        integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
        crossorigin="anonymous"
    >
</head>
<body>
  <!-- Login -->
  <div class="container m-t-8">
    <form action="{% url 'login' %}" method="post" name="loginform">
      {% csrf_token %}
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% endif %}
      <div class="form-row">
        <label>User Name
          <input id="id_username" type="text" name="username">
        </label>
      </div>
      <div class="form-row">
        <label>Password
          <input id="id_password" type="password" name="password">
        </label>
      </div>
      <div class = "submit-row">
        <input type="submit" value="Log In">
      </div>
    </form>
  </div>
  <!-- /Login -->
  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
  </script>
  <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
      integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
      crossorigin="anonymous"
  >
  </script>
  <script src="{% static "bias_tracker/js_scripts.js" %}"></script>
  <!-- /scripts -->
</body>
