{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Subject Stats for Bias Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bias_tracker/statistics.css' %}">
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
        integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
        crossorigin="anonymous"
    >
</head>
<body>
  <div class="container">
    <!-- nav -->
    <div class="row">
      <p class="text-sm-right">
        <a class="" href="{% url 'index_page'%}" name="home">RETURN HOME</a>
      </p>
    </div>
    <!-- /nav -->
    <!-- header -->
    <div class="row">
      <h3 class="text-sm-center"><strong>{{user.first_name}}</strong>, select from the list of subjects to show their statistics</h3>
      </div>
    </div>
    <!-- /header -->
    <!-- select sub -->
    <div class="row">
      <div class="col-xs-4 col-sm-offset-4">
        <form action="{% url 'get_stats' %}" method="post" id="subject-form">
          {% csrf_token %}
          <select class="form-control" name="subject">
            {% for subject in subjects %}
            <option value="{{subject.id}}">{{subject.name}}</option>
            {% endfor %}
          </select>
          <input class="form-control" type="submit" value="REALIZE STATS">
        </form>
      </div>
    </div>
    <!--/select sub -->
    <!-- js magic -->
    <!-- types -->
    <div class="row">
      <h4 class="text-sm-left p-l-1">Individual Incident Subject Statistics</h4>
      <h6>
        <ol>Includes:
          <li>total number of incidents where individual was listed as subject (not author)</li>
          <li>percentage of total incidents where individual demonstrated inclusion</li>
          <li>percentage of total incidents where individual demonstrated exclusion</li>
          <li>numbers of times individual used specifically described inclusionary/exclusionary behaviors</li>
        </ol>
      </h6>
      <p id="error"></p>
      <p>
        1. <span id="name">INSERT NAME HERE</span>
        was the recorded subject of
        <strong><span id="total"></span></strong> incidents
      </p>
      <p>
        2. Of those incidents <strong><span id="inclusion"></span></strong>% were inclusionary
      </p>
      <p>
        3. Of those incidents <strong><span id="exclusion"></span></strong>% were exclusionary
      </p>
    </div>
    <!-- /types -->
    <!-- descriptors -->
    <div class="row">
      4. BLANK
      <ul id="descriptorsArea">
          <li></li>
      </ul>
    </div>
    <!-- /descriptors -->
    <!-- /js magic -->
  </div>
  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
  </script>
  <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
      integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
      crossorigin="anonymous"
  >
  </script>
  <script src="{% static 'bias_tracker/ajax_csrf_setup.js' %}"></script>
  <script src="{% static 'bias_tracker/subject_stats.js' %}"></script>
  <!-- /scripts -->
</body>
